*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: #34a8f5;
    height: 10vh;
    align-items: center;
    width: 100%;
    padding: 0rem 2.5rem;

}
.logo{
    position: relative;
    padding: 0px;
    font-size: 24px;
    font-weight:bold;
    color: whitesmoke;
}
.custom__form-control{
    width: auto; 
    margin: 0 1rem;
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;

}
.custom__form-control input{
    flex: 1;
    border: none;
    border-radius: 5px;
    padding: .1rem;
}
.custom__form-control button{
    border: none; 
    border-radius: 5px;
    padding: .1rem;
    margin-left: .2rem;
}
.navlinks ul{
   display: flex;
   height: 100%;
   margin: 0;
   justify-content: center;
   align-items: center;
}

.navlinks li{
    margin: 0 25px;
    font-size: 20px;
    list-style: none;
}
.navlinks li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
.custom-styling__navLinks{
    flex: 1 !important;
}

a:hover{
    background: #2d99e0;
    border-radius: 10%;   
}


.burger div{
    width: 29px;
    height: 3px;
    margin: 5px;
    background-color: white;
}
.burger{
    display: none;
}


img{
    width: 100%;
    height: auto;
    max-height: 100%;
}

@media (max-width:900px)
{
    .logo{
        font-size: 30px;
    }
    .navlinks li{
        margin: 20px;
    }
    img{
        height: 100vh;
    }
}

@media (max-width:960px)
{
    body{
        overflow: hidden;
    }
        .navlinks{
            position: absolute;
            right: 0px;
            height: 92vh;
            top: 10vh;
            background-color: #71b7e6;
            width: 50%;
            transform: translateX(100%);
            transition: 0.5s ease-in;
        }

        .navlinks ul{
            flex-direction: column;
            align-items: center;
        }
        .navlinks li{
            margin: 50px;
        }

        .burger{
            display: block;
            cursor: pointer;
        }
        .burger:hover{
            background-color: #c0d1db;
            border-radius: 10px;
        }
}
.nav-active{
    transform: translateX(0%);
    transition: 0.5s ease-in;
}

.Form_container{
    height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3rem 5rem;
    justify-content: center;
}

/* Dropdown Button */
.dropbtn {
    background-color: #34a8f5;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fdfdfd;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translateX(-50%);
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: whitesmoke;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #71b7e6;}
  
/* .dropbtn{
    position: relative;
}
  .dropbtn::after{  

    position: absolute;
    content: '>';
    top: 50%;
    transform: translateY(-50%);
    right: 0;


  } */