{% import "bootstrap/wtf.html" as wtf %}
{% extends "layout.html" %}
{%block content%}
    {% if add_member %}
        Add Member
    {% else %}
        Edit Member
    {% endif %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_member %}
                <h1>Add Member</h1>
            {% else %}
                <h1>Edit Member</h1>
            {% endif %}
            <br/>
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}
