<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Surveillance</title>
    <link rel="stylesheet" href="static/css/base.css">
</head>
<body>

    <header>
        <div class="logo">Video Streaming</div>
        <div class="navlinks">
            <ul>

                <li><a href="index">Home</a></li>
                  {% if email %}
                <li><a href="newentry">New Data</a></li>
                <li><a href="csv">History</a></li>
                {% if relation == "admin"%}
                <li><a href="admin">Admin</a></li>
                {%endif%}
                <li><a href="signout">Logout</a></li>

                {% else %}
                <li><a href="register">Register</a></li>
                <li><a href="login">Login</a></li>
                {% endif %}
            </ul>
        </div>
        <h4 style="color: azure;">Current User:{{email}}</h4>

    </header>
    <section class="Form_container">
       {% block content %}

       {% endblock %}
    </section>

{% block new%}

{%endblock%}
<script src="static/js/app.js"></script>


</body>

</html>