{% extends 'base.html'%}
{% block title %}Add Record-HomeSurveillance {% endblock %}

{% block content %}
     
<link rel="stylesheet" href="static/css/master.css">
     
<body>
  <div class="container">
    <div class="title">New Data Register</div>
        <img src="{{ url_for('recordrecord') }}">

    <div class="content">
      <form action="#" method="POST">
        <div class="user-details">

          <div class="input-box">
            <span class="details">Enter Your Name</span>
            <input type="text" id="input" name="name" placeholder="Enter your name" required>
          </div>
        
          <div class="input-box">
            <span class="details">Relation With The Owner</span>
            <input type="text" id="relation" name="text" placeholder="Enter your relation" required>
          </div>

          <div class="input-box">
            <span class="details">Phone:</span>
            <input type="text" id="contact" name="number" placeholder="Enter your contact number" required>
          </div>
          <div class="input-box">
            <span class="details">Address</span>
            <input type="text" id="address" name="text" placeholder="Enter address" required>
          </div>
        </div>
        <button onclick="myFunction()" type="button">Submit</button>

      </form>
    </div>
  </div>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
     <script>
function myFunction() {
  var name = document.getElementById("input").value;
  var relation = document.getElementById("relation").value;
  var address = document.getElementById("address").value;
  var phone = document.getElementById("contact").value;
  console.log(name);
  $.post("/takeimage",
   {
     name: name,
     relation: relation,
     address: address,
     phone: phone
   },
   function(data, status){
     alert("Data: " + data + "\nStatus: " + status);
   });
}
</script>

</body>

{% endblock %}