{% extends 'base.html'%}
{% block title %}Records-Home Surveillance {% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/master.css')}}">
  <body>

    <div class="container">
    <div class="title">New Data Register</div>
    <img src="{{ url_for('recordrecord') }}">
    <div class="content">
      <form action="#" method="POST">
        <div class="user-details">

          <div class="input-box">
            <span class="details">Enter Your Name</span>
            <input type="text" id="input"   name="name" placeholder="Enter your name" required>
          </div>

          <div class="input-box">
            <span class="details">Relation With The Owner</span>
            <input type="text" id="relation" name="text" placeholder="Enter your relation" required>
          </div>
        </div>
            <button onclick="myFunction()" type="button">Submit</button>

      </form>
    </div>
  </div>

     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
     <script>
function myFunction() {
  var name = document.getElementById("input").value;
  var relation = document.getElementById("relation").value;
  console.log(name);
  $.post("/takeimage",
   {
     name: name,
     relation: relation
   },
   function(data, status){
     alert("Data: " + data + "\nStatus: " + status);
   });
}
</script>
  </body>
{% endblock %}